* {
    background-color: transparent;
    background-image: none;
}

window, .background {
    background-color: rgba(28, 33, 43, 0.5);
}

grid {
    background-color: rgba(28, 33, 43, 0.5);
}

.power-button {
    background-color: rgba(28, 33, 43, 0.8);
    border: 2px solid transparent;
}

.power-button:hover:not(:focus) {
    background-color: rgba(80, 80, 90, 0.3);
}

.power-button:focus {
    background-color: rgba(214, 214, 216, 0.3);
    border: 2px solid #fff;
    box-shadow: 0 0 8px 2px rgba(255,255,255,0.5);
}

.power-button-label {
    color: #fff;
}

button {
    background-image: none;
    box-shadow: none;
}
