grid {
    /* todo */
}

window {
    opacity: 0.8;
    border-radius: 25px; 
}

.power-button {
    /* background-color: #222; */
    background-color: #1c222b;
}

.power-button:hover {
    background-color: #A6AEBF;
}

.power-button-label {
    color: #fff;
}

.power-button-icon {
    /* todo */
}

.power-button-box {
    /* todo */
}