* {
    background-color: transparent;
    background-image: none;
}

.power-button {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid transparent;
}

.power-button:focus {
    background-color: rgba(214, 214, 216, 0.1);
    border: 2px solid #fff;
    box-shadow: 0 0 8px 2px rgba(255,255,255,0.5); 
}